header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space elements properly */
    width: 100%; /* Ensure full width */
    background-color: #3B6690;
    padding: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  }
  
  img {
    width: 3.5rem;
    object-fit: contain;
  }
  
  h1 {
    font-size: 1.25rem;
    margin: 0;
    color: aliceblue;
  }
  
  /* Responsive adjustments */
  @media (min-width: 768px) {
    header {
      padding: 2rem;
    }
  
    img {
      width: 4.5rem;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  }
  