h2 {
    color: #333;
    text-align: center;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
  }
